*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

.title {
  font-size: 24px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  margin-right: 6rem;
}

/* User greeting style */
.user-greeting {
  font-weight: bold;
}
